body {
    font-family: 'Segoe UI', sans-serif;
    background: #f4f6f9;
    margin: 0;
    padding: 0;
}

.applications {
    width: 85%;
    margin: auto;
    padding: 40px 0;
}

.transition {
    text-align: center;
    margin-bottom: 50px;
}


.transition h2 {
    font-size: 50px;
    color: #1e293b;
    text-decoration: underline;
    font-weight: 800;
}

.transition p {
    font-size: 20px;
    color: #475569;
    max-width: 800px;
    margin: auto;
}

.app-card {
    background: white;
    border-radius: 12px;
    padding: 25px;
    margin-bottom: 30px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: transform 0.3s, box-shadow 0.3s;
}

.app-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 18px 35px rgba(0,0,0,0.12);
}

.app-card h3 {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #0f172a;
    font-size: 30px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 14px solid #2563eb;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.app-card ul {
    padding-left: 20px;
    color: #334155;
}

.app-card p {
    font-size: 20px;
}

.infographie {
    margin-top: 15px;
}

.bar {
    background: linear-gradient(90deg, #2563eb, #60a5fa);
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    margin-bottom: 6px;
    font-size: 14px;
}

.icons {
    font-size: 35px;
    display: flex;
    gap: 20px;
}

.route {
    position: relative;
    height: 40px;
    background: #e5e7eb;
    border-radius: 20px;
    overflow: hidden;
}

.car {
    position: absolute;
    left: -40px;
    top: 5px;
    animation: moveCar 4s infinite linear;
}

@keyframes moveCar {
    from { left: -40px; }
    to { left: 100%; }
}

.back-home {
    text-align: center;
    margin: 60px 0 30px;
}

.back-home a {
    display: inline-block;
    padding: 12px 25px;
    background: linear-gradient(135deg, #2c3e50, #3498db);
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.back-home a:hover {
    background: linear-gradient(135deg, #1a252f, #2980b9);
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}