
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    
}


.hero {
    background-image: url("../Images/Accueil_fond2.jpg"); 
    max-width: 100%;
    height: auto;
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;  
    height: 100vh;                 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 50px;
    font-weight: 800;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.hero p {
    font-size: 30px;
    text-align: center;
    color: white;
    text-shadow: 30%;
}

.ml-infographie {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
  text-align: center;
  margin: 50px 0;
}

.ml-bloc {
  margin: 20px;
  padding: 20px;
  transition: transform 0.3s;
}

.ml-bloc:hover {
  transform: translateY(-10px);
}

.ml-texte {
  margin-top: 15px;
  font-size: 1.1rem;
  color: #333;
}

i {
  color: #2563EB;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  margin-top: 40px;

}

.grid-item {
  text-decoration: none;
  background: #6e6b6b;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  font-size: 18px;
  transition: all 0.3s ease;
}

.grid-item:hover {
  background: #4f46e5;
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.item:active {
  transform: scale(0.96);
}

.ml-quote {
    text-align: center;
    font-style: italic;
    color: #4B5563; 
    margin-top: 30px;
    font-size: 1.1em;
    background: beige;
    padding: 18px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 25px;
    margin-bottom: 16px;
    transition: 
      transform 0.3s ease,
      box-shadow 0.3s ease;
    
}

.ml-quote:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}

.ml-quote span {
    font-weight: bold;
}